* {
  padding: 0; }

#battery.warning.discharging, #battery.critical.discharging {
  animation-name: blink;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate; }

@keyframes blink {
  to { } }

@keyframes select {
  to { } }

button {
  all: unset;
  margin: 2px 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 10px;
  background-color: #454759; }
  button label {
    color: #cdd6f4; }

tooltip {
  font-family: "Jetbrains Mono", "Symbols Nerd Font";
  background-color: rgba(28, 28, 38, 0.9);
  border-radius: 10px;
  border-color: #f2cece; }
  tooltip label {
    margin: 10px;
    color: #cdd6f4; }

window#waybar {
  border: none;
  font-family: "Jetbrains Mono", "Symbols Nerd Font";
  font-size: 13;
  background-color: transparent; }

box#left,
box#right {
  background-color: rgba(28, 28, 38, 0.9);
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 1px 10px;
  min-height: 25px; }

#temperature,
#cpu,
#memory,
#disk,
#network,
#battery,
#backlight,
#pulseaudio {
  margin: 0 5px; }

#temperature {
  color: #9fe5d9; }
  #temperature.critical {
    color: #f38ca9; }

#cpu {
  color: #f2cece; }

#memory {
  color: #9fe5d9; }

#disk.root {
  color: #a6e3a1; }

#disk.home {
  color: #f5dfdb; }

#network {
  color: #89b5fa; }

#battery.full {
  color: #cdd6f4; }

#battery.charging {
  color: #9fe5d9; }

#battery.critical.discharging {
  color: #f38ca9; }

#battery.warning.discharging {
  color: #f9e1ae; }

#workspaces {
  background-color: rgba(28, 28, 38, 0.9);
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 1px 10px;
  min-height: 25px; }
  #workspaces button {
    margin: 2px 0px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 10px;
    background-color: #454759;
    font-size: 13px;
    transition: color 0.2s, padding 0.2s, background-color 0.2s;
    border-radius: 100%; }
    #workspaces button label {
      color: #89b5fa; }
    #workspaces button:hover {
      background-color: #679ff9; }
      #workspaces button:hover label {
        color: #cdd6f4; }
    #workspaces button.empty {
      margin: 2px 0px;
      padding-left: 5px;
      padding-right: 5px;
      margin-left: 2px;
      margin-right: 2px;
      border-radius: 10px;
      background-color: transparent; }
      #workspaces button.empty label {
        color: #bac2de; }
      #workspaces button.empty:hover {
        background-color: #679ff9; }
        #workspaces button.empty:hover label {
          color: #cdd6f4; }
    #workspaces button.active {
      box-shadow: inset 0 0 0 1px #f9e1ae;
      margin: 2px 0px;
      padding-left: 5px;
      padding-right: 5px;
      margin-left: 2px;
      margin-right: 2px;
      border-radius: 10px;
      background-color: #89b5fa; }
      #workspaces button.active label {
        color: #454759; }
      #workspaces button.active:hover {
        background-color: #679ff9; }

box#top {
  background-color: rgba(28, 28, 38, 0.9);
  padding: 10px 1px;
  border-radius: 0 10px 10px 0px; }

box#update {
  margin: 1px 0px;
  border-radius: 10px;
  background-color: #6b6f85; }
  box#update label {
    margin-left: 2px;
    margin-right: 2px; }

#custom-packagecheck {
  margin: 2px 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 10px;
  background-color: #454759;
  color: #cdd6f4; }
  #custom-packagecheck.uptodate {
    color: cyan; }
  #custom-packagecheck.old {
    color: #a6e3a1; }
  #custom-packagecheck.urgent {
    color: orange; }

#custom-packageupdate,
#custom-packageclean,
#custom-packagelist {
  margin: 2px 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 10px;
  background-color: #454759;
  color: #a6e3a1; }

#custom-notification {
  margin: 2px 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 10px;
  background-color: #454759;
  color: #b4befe; }
  #custom-notification.dnd-none, #custom-notification.dnd-notification, #custom-notification.dnd-inhibited-notification, #custom-notification.dnd-inhibited-none {
    color: grey; }
  #custom-notification.none {
    color: #b4befe; }
  #custom-notification.notification {
    color: #fab285; }
  #custom-notification.inhibited-none {
    color: #ea9eab; }

#custom-weather {
  margin: 3px;
  border-radius: 10px; }
  #custom-weather.error {
    color: #f38ca9; }

#custom-wallpaper {
  margin: 2px 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 10px;
  background-color: #454759;
  color: #89dceb; }

#pulseaudio.output {
  color: plum; }

#pulseaudio.input {
  color: #b4befe; }

#clock {
  color: #89b5fa;
  font-weight: bold; }

box#audio {
  margin: 1px 0px;
  border-radius: 10px;
  background-color: #6b6f85;
  padding-left: 5px; }
  box#audio label {
    margin-left: 2px;
    margin-right: 2px; }

box#mpris-art-compact {
  margin: 1px 0px;
  border-radius: 10px;
  background-color: #6b6f85;
  padding-left: 10px;
  padding-right: 10px; }
  box#mpris-art-compact label {
    margin-left: 4px;
    margin-right: 4px; }

#image {
  border-radius: 100%; }
  #image image {
    border-radius: 100%; }

#mpris {
  margin: 2px 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 10px;
  background-color: #454759;
  color: #cdd6f4;
  margin-right: 0px; }

#custom-audioswitch {
  margin: 2px 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 10px;
  background-color: #454759;
  color: #a6e3a1; }

#tray {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  background-image: linear-gradient(transparent, black, black); }

#idle_inhibitor {
  margin: 2px 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 10px;
  background-color: #454759;
  color: aliceblue; }
  #idle_inhibitor.activated {
    color: chocolate; }

#privacy {
  margin: 1px 0px;
  border-radius: 10px;
  background-color: #6b6f85;
  padding-left: 5px;
  padding-right: 5px; }
  #privacy label {
    margin-left: 2px;
    margin-right: 2px; }

#privacy-item {
  margin: 2px 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 10px;
  background-color: #454759;
  color: #cdd6f4; }
