// Catpuccin colors
$rose-water: hsl(10, 56%, 91%);
$flamingo: hsl(0, 59%, 88%);
$pink: hsl(316, 72%, 86%);
$mavue: hsl(267, 84%, 81%);
$red: hsl(343, 81%, 75%);
$maroon: hsl(350, 65%, 77%);
$peach: hsl(23, 92%, 75%);
$yellow: hsl(41, 86%, 83%);
$green: hsl(115, 54%, 76%);
$teal: hsl(170, 57%, 76%);
$sky: hsl(189, 71%, 73%);
$sapphire: hsl(217, 92%, 69%);
$blue: hsl(217, 92%, 76%);
$lavender: hsl(232, 97%, 85%);
$text-color: hsl(226, 64%, 88%);
$sub-text-color: hsl(227, 35%, 80%);
$overlay-0: hsl(231, 11%, 47%);
$surface-1: hsl(234, 13%, 31%);
$background-color: hsla(237, 16%, 13%, 0.9);

$grey: #34495e;
$dark-grey: #2c3e50;
$cyan: cyan;
$purple: plum;
$white: aliceblue;

$accent: $blue;
$highlight: $sapphire;
$group-color: $overlay-0;
$button-background-color: $surface-1;
$tooltip-background-color: hsla(237, 16%, 13%, 0.9);

$small-radius: 10px;
$medium-radius: 20px;
$full-circle: 100%;

* {
  padding: 0;
}

%blinking {
  animation-name: blink;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@mixin horizontal-margin($margin) {
  margin-left: $margin;
  margin-right: $margin;
}

@mixin horizontal-padding($padding) {
  padding-left: $padding;
  padding-right: $padding;
}

@mixin group-style($label-margin: 2px) {
  margin: 1px 0px;
  border-radius: $small-radius;
  background-color: $group-color;
  label {
    @include horizontal-margin($label-margin);
  }
}

@mixin base-button($background: $button-background-color) {
  margin: 2px 0px;
  @include horizontal-padding(5px);
  @include horizontal-margin(2px);
  border-radius: $small-radius;
  background-color: $background;
}

@mixin button($background: $button-background-color, $foreground: $text-color) {
  @include base-button($background);
  label {
    color: $foreground;
  }
}

/// Button for custom scripts which are not text
@mixin text-button(
  $background: $button-background-color,
  $foreground: $text-color
) {
  @include base-button($background);
  color: $foreground;
}

@mixin button($background: $button-background-color, $foreground: $text-color) {
  @include base-button($background);
  label {
    color: $foreground;
  }
}

@keyframes blink {
  to {
    // color: blue;
  }
}

@keyframes select {
  to {
    // background: blue;
  }
}
button {
  all: unset;
  @include button;
}

tooltip {
  font-family: "Jetbrains Mono", "Symbols Nerd Font";
  background-color: $tooltip-background-color;
  border-radius: $small-radius;
  border-color: $flamingo;
  label {
    margin: 10px;
    color: $text-color;
  }
}

window#waybar {
  border: none;
  font-family: "Jetbrains Mono", "Symbols Nerd Font";
  font-size: 13;
  background-color: transparent;
}

@mixin top-box() {
  background-color: $background-color;
  border-radius: $small-radius;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 1px 10px;
  min-height: 25px;
}

box#left,
box#right {
  @include top-box();
}

#temperature,
#cpu,
#memory,
#disk,
#network,
#battery,
#backlight,
#pulseaudio {
  margin: 0 5px;
}

#temperature {
  color: $teal;

  &.critical {
    color: $red;
  }
}

#cpu {
  color: $flamingo;
}

#memory {
  color: $teal;
}

#disk.root {
  color: $green;
}

#disk.home {
  color: $rose-water;
}

#network {
  color: $blue;
}

#battery {
  &.full {
    color: $text-color;
  }
  &.charging {
    color: $teal;
  }
  &.critical.discharging {
    @extend %blinking;
    color: $red;
  }
  &.warning.discharging {
    @extend %blinking;
    color: $yellow;
  }
}

#workspaces {
  @include top-box();
  button {
    @include button($button-background-color, $accent);
    font-size: 13px;
    transition:
      color 0.2s,
      padding 0.2s,
      background-color 0.2s;
    border-radius: $full-circle;
    &:hover {
      background-color: $highlight;
      label {
        color: $text-color;
      }
    }
    &.empty {
      @include button(transparent, $sub-text-color);
      &:hover {
        background-color: $highlight;
        label {
          color: $text-color;
        }
      }
    }
    &.active {
      box-shadow: inset 0 0 0 1px $yellow;
      @include button($accent, $surface-1);
      &:hover {
        background-color: $highlight;
      }
    }
  }
}

box#top {
  background-color: $background-color;
  padding: 10px 1px;
  border-radius: 0 10px 10px 0px;
}

box#update {
  @include group-style;
}

#custom-packagecheck {
  @include text-button;
  &.uptodate {
    color: $cyan;
  }
  &.old {
    color: $green;
  }
  &.urgent {
    color: orange;
  }
}

#custom-packageupdate,
#custom-packageclean,
#custom-packagelist {
  @include text-button($foreground: $green);
}

#custom-notification {
  @include text-button($foreground: $lavender);

  &.dnd-none,
  &.dnd-notification,
  &.dnd-inhibited-notification,
  &.dnd-inhibited-none {
    color: grey;
  }

  &.none {
    color: $lavender;
  }

  &.notification {
    color: $peach;
  }

  &.inhibited-none {
    color: $maroon;
  }
}

#custom-weather {
  margin: 3px;
  border-radius: $small-radius;

  &.error {
    color: $red;
  }
}

#custom-wallpaper {
  @include text-button($foreground: $sky);
}

#pulseaudio.output {
  color: $purple;
}

#pulseaudio.input {
  color: $lavender;
}

#clock {
  color: $accent;
  font-weight: bold;
}

box#audio {
  @include group-style;
  padding-left: 5px;
}

box#mpris-art-compact {
  @include group-style(4px);
  @include horizontal-padding(10px);
}

#image {
  border-radius: $full-circle;
  image {
    border-radius: $full-circle;
  }
}

#mpris {
  @include text-button();
  margin-right: 0px;
}

#custom-audioswitch {
  @include text-button($foreground: $green);
}

#tray {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  background-image: linear-gradient(transparent, black, black);
}

#idle_inhibitor {
  @include text-button($foreground: $white);
  &.activated {
    color: chocolate;
  }
}

#privacy {
  @include group-style;
  @include horizontal-padding(5px);
}
#privacy-item {
  @include text-button;
}
